

.main {
    flex: 1;
    min-height: 100vh;
  
    padding-bottom: 140px; 
    position: relative; 
    margin-left: 70px; 
    transition: margin-left 0.3s ease-in-out; 
    display: flex; 
    flex-direction: column; 
}


.sidebar.extended + .main { 
    margin-left: 250px; 
}


.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}


.main-content-area {
    max-width: 900px;
    margin: auto; 
    width: 100%; 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
 
    padding: 0 20px; 
    box-sizing: border-box; 

 
    transition: opacity 0.5s ease-in-out; 
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); } 
    to { opacity: 1; transform: translateY(0); } 
}


.fade-in-section {
    animation: fadeIn 0.7s ease-out forwards; 
    opacity: 0; 
}


.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 0px 20px; 
    flex-grow: 1; 
}

.main .greet span {
  background: linear-gradient(16deg, #2e1a47, #00c9c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    
}

.main .card {
    height: 200px;
    padding: 15px;
  
    background: linear-gradient(16deg, #2e1a47, #00c9c8); 
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white; 
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
 
    color: white; 
    font-size: 17px;
}

.main .card:hover {
 
    background: linear-gradient(196deg, #2e1a47, #00c9c8); 

}

.main-bottom {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    max-width: 900px; 
    left: 50%; 
    transform: translateX(-50%);
    box-sizing: border-box; 
    background-color: white; 
    padding: 15px 20px; 
    
    z-index: 10;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
    font-weight: 400;
    color: #5e5e5e;
    
}

.result {
    padding: 0px 5%; 
    max-height: 70vh; 
    overflow-y: scroll;
    flex-grow: 1; 
  
    padding-bottom: 20px; 
}


.result::-webkit-scrollbar {
    display: none;
}

.result {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: #585858;
}



.lds-ellipsis {
    color: #1c4c5b;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis div {
    position: absolute;
    top: 16.66666px;
    width: 6.66666px;
    height: 6.66666px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 4px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 4px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 16px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12px, 0);
    }
}